body {
	font-family: 'Montaga', serif;
	text-align: justify;
}


#message {
	height: 200px;
}

.center {
	text-align: center;
}

.header-text {
	margin-bottom: 25px;
}

#contact-header {
	font-weight: 600;
	font-size: 2em;
}

.links {
	color: black;
}

a:hover {
	color: #a30d35;
}

.mailicon .animated {
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay: 0.1s;
}

.linkedinicon .animated {
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay: 0.6s;
}

.githubicon .animated {
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay: 1.1s;
}