/*footer {
	margin-top: 7%;
	padding: 2% 0;
	font-family: 'Crimson Text', serif;
	font-size: 1.2em;
}
*/
.footer {
	background-color: #e9e9e9;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
	/* fixed height of the footer */
  	height: 120px;
}

.footer-contents {
  	font-family: 'Crimson Text', serif;
	font-size: 0.9em;
	/*line-height: 1.5;*/
	color: #777;
	padding-top: 20px;
	display: block;
	text-align: center;
	float: center;
	margin: 0;
	list-style: none;
} 

.footer .footer-contents .text-seperator {
	margin: 0 1.5em;
}

footer a {
	color: inherit;
	padding: 0 1%;
}

footer a:hover {
	color: black;
}