body {
	font-family: 'Montaga', serif;
	text-align: justify;
}

#content {
	/*height: 100%;*/
}

.navbar {
	/*padding-bottom: 0;*/
	margin-bottom: 0;
}

#display-picture {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 50px;
}

img {
	width: 100%;
	/*height: 10%;*/
	/*border-radius: 5%;*/
}

#bio-image {
	margin-bottom: 20px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.bio-text {
	/*font-family: 'Crimson Text', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Montaga', serif;*/
	/*font-size: 0.9em;*/
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
}

.bio-text p .prof, .personal {
	color: #0b599e;
}

.bio-text p .tech {
	color: #a30d35;
}

/*
.bio-text p .personal {
	color: #09680a;
}*/body {
	font-family: 'Montaga', serif;
	text-align: justify;
}

#content {
	/*height: 100%;*/
}

.navbar {
	/*padding-bottom: 0;*/
	margin-bottom: 0;
}

#display-picture {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 50px;
}

img {
	width: 100%;
	/*border-radius: 5%;*/
}

#bio-image {
	margin-bottom: 20px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.bio-text {
	/*font-family: 'Crimson Text', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Montaga', serif;*/
	/*font-size: 0.9em;*/
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
}

.bio-text p .prof, .personal {
	color: #0b599e;
}

.bio-text p .tech {
	color: #a30d35;
}

.links {
	color: #0b599e;
	/*color: #a30d35;*/
	font-weight: 600;
}

.links-2 {
	color: #a30d35;
	font-weight: 600;
}

#display-picture .animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.bio-text .animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
}