body {
	font-family: 'Montaga', serif;
	text-align: justify;
}

.center {
	text-align: center;
}

.header-text {
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 25px;
}

.links {
	color: black;
}

a:hover {
	color: #cc0a27;
}

.list {
	list-style-type: square;
}

.problem {

}

.problem .tag {
	float: right;
	border-radius: 25px;
	background: #c6c2c3;
	padding: 5px 15px;
	margin: 0px 2px;
}
