body {
	font-family: 'Montaga', serif;
	text-align: justify;
}

.center {
	text-align: center;
}

.header-text {
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 25px;
}

.links {
	color: black;
}

a:hover {
	color: #a30d35;
}