p {
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Montaga', serif;
}


p a {
	color: #0b599e;
	font-weight: 600;
}

.doc-link {
	color: black;
	font-weight: 600;
}

.center {
	text-align: center;
}

.inner {
	/*width: 50%;*/
  	margin: 0 auto;
}

.doc-text {
	font-size: 1.5em;
}

