body {
	font-family: 'Montaga', serif;
	/*text-align: justify;*/
}

.row {
	margin-bottom: 15px;
}

.link {
	opacity: 0.6;
	transition: 0.4s;
}

.link:hover {
	opacity: 1.0;
}

.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
}

#projectImage .animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.2s;
}

#problemsolvingImage .animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.7s;
}