p {
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Montaga', serif;
}




a:hover {
	color: #a30d35;
}

.doc-link {
	color: black;
	font-weight: 600;
}

.link {
	color: #0b599e;
	font-weight: 600;
}

.center {
	text-align: center;
}

.inner {
	/*width: 50%;*/
  	margin: 0 auto;
}

.doc-text {
	font-size: 1.5em;
}

.animated {
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

.doc-icon:hover {
	-webkit-animation: tada 1s;
    animation: tada 1s;
}

